page-login {
    ion-content{
        ion-list{
            .img-login-logo{
                margin: 15% 0;
                text-align: center;
            }
            .box-button{
                margin-top: 30px;
            }
            .box-button-forgot-password{
                margin-top: 10px;
            }
            .box-button-register{
                bottom: 20px;
                position: absolute;
            }
            .padding-left{
                padding-left: 16px;
            }
        }
    }
}
